In [1]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
FILEPATH_INSTALLMENTS_PAYMENTS = "../data/installments_payments.csv.f"

In [3]:
df_installments_payments = pd.read_feather(FILEPATH_INSTALLMENTS_PAYMENTS)

In [4]:
## count the number of previous installments
cnt_inst = df_installments_payments[['SK_ID_CURR', 'SK_ID_PREV']].groupby('SK_ID_CURR').count()
df_installments_payments['SK_ID_PREV'] = df_installments_payments['SK_ID_CURR'].map(cnt_inst['SK_ID_PREV'])

## Average values for all other variables in installments payments
avg_inst = df_installments_payments.groupby('SK_ID_CURR', as_index=False).mean()
avg_inst.columns = ['i_' + f_ for f_ in avg_inst.columns]

In [5]:
avg_inst.rename(columns={'i_SK_ID_CURR': 'SK_ID_CURR'}, inplace=True)

In [6]:
avg_inst.to_feather('../data/prev_insallment_payment_feature_0819.csv.f')

In [7]:
avg_inst.head()

,SK_ID_CURR,i_SK_ID_PREV,i_NUM_INSTALMENT_VERSION,i_NUM_INSTALMENT_NUMBER,i_DAYS_INSTALMENT,i_DAYS_ENTRY_PAYMENT,i_AMT_INSTALMENT,i_AMT_PAYMENT
0,100001,7.0,1.142857,2.714286,-2187.714286,-2195.000000,5885.132143,5885.132143
1,100002,19.0,1.052632,10.000000,-295.000000,-315.421053,11559.247105,11559.247105
2,100003,25.0,1.040000,5.080000,-1378.160000,-1385.320000,64754.586000,64754.586000
3,100004,3.0,1.333333,2.000000,-754.000000,-761.666667,7096.155000,7096.155000
4,100005,9.0,1.111111,5.000000,-586.000000,-609.555556,6240.205000,6240.205000